WEB_OUTBOUND_HOST_PORT=3200
WEB_INBOUND_HOST_PORT=3201

WEB_OUTBOUND_PORT=3200
WEB_INBOUND_PORT=3201

NATS_URL=nats://localhost:4222
FSPIOP_PARTIES_URL=http://localhost:5003
FSPIOP_QUOTES_URL=http://localhost:5003
FSPIOP_TRANSFERS_URL=http://localhost:5003
FSPIOP_SWITCH_ID=hub

FSPIOP_SIGN_JWS=false
FSPIOP_VERIFY_JWS=false
FSPIOP_USE_JWS=true
FSPIOP_MUTUAL_TLS=false
FSPIOP_USE_MUTUAL_TLS=false
FSPIOP_TLS_VERIFY_SERVER_CERT=false

FSPIOP_SOCKET_TIMEOUT_MS=30000
FSPIOP_CONNECTION_TIMEOUT_MS=5000

FSPIOP_JWS_PRIVATE_KEY=
FSPIOP_JWS_PUBLIC_KEY=
FSPIOP_MTLS_CA=
FSPIOP_MTLS_CLIENT_CERT=
FSPIOP_MTLS_CLIENT_KEY=
